<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <!-- Add config info-->
    <appSettings>
      <!-- add provider similar to p.815 -->
    <add key="provider1" value="SqlServer" />
    
    <!-- Different provider + connection string p.826 -->
      <add key="provider2" value="System.Data.SqlClient" />
      <add key="connectionString2" value="Data Source=(localdb)\mssqllocaldc);
           Initial Catolog=AutoLot; Integrated Security=True" />
    
    <!-- p. 827-828 -->
      <add key="provider3" value="System.Data.OleDb"/>
      <add key="connectionString3" value="provider=SQLNCI111=SSPI;
           Data Souce=(localdb)\mssqllocaldb;
           Integrated Security=SSPI; Initial Catalog=AutoLot" />
    
    </appSettings>
    <connectionStrings>
      <add name="AutoLotSqlProvider" connectionString="
           Data Souce=(localdb)\mssqllocaldb; Integrated Security=True; 
           Initial Catalog=AutoLot" />
      <add name="AutoLotOleDbProvider" connectionString="provider=SQLNCI111=SSPI;
           Data Souce=(localdb)\mssqllocaldb;
           Integrated Security=SSPI; Initial Catalog=AutoLot"/>
    </connectionStrings>
</configuration>