<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <add key="provider2" value="System.Data.SqlClient" />
    <add key="connectionString" value="Data Source=(localdb)\mssqllocaldb;
           Initial Catolog=NorthWood; Integrated Security=True" />

  
         
</configuration>